[2019-07-13 07:15] l1346792580123 opened #1 "make failed"
I follow your build instruction to build the model but I get an error when I do the make command
![ec56cddbceaf581d22c8a3d082fb5ae](https://user-images.githubusercontent.com/25956606/61168444-e94c4f00-a580-11e9-8110-cae4f0a1c1e6.png)

How can I solve this problem

[2019-07-14 07:58] #1 closed

[2019-07-16 08:25] l1346792580123 opened #2 "run error"
when I run the demo, I get an error.
![42048b9d0e6888218c5ecd3a3539905](https://user-images.githubusercontent.com/25956606/61277872-9f17d780-a7e5-11e9-9d0f-e4a49cdc421c.png)

do you know how to solve it?

here is the cmake log

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler:

[2019-07-17 12:36] YanhaoZhang commented on #2
Hi I got the same error. Did you fix it? Many thanks.

[2019-07-17 12:50] YanhaoZhang commented on #2
Currently, I am using the dependencies: `CUDA 9.0`, `PCL-1.8.1`, `OpenCV-3.4.3`, and the `glfw` according to the command line in your instruction.
The compile was successful. But after changing the configuration file, I got the same error as follow. May I ask you if you know some reasons that may cause this? Thank you so much :)
![image](https://user-images.githubusercontent.com/36495922/61376393-

[2019-07-17 12:51] YanhaoZhang commented on #2
Hi @weigao95 currently, I am using the dependencies: `CUDA 9.0`, `PCL-1.8.1`, `OpenCV-3.4.3`, and the `glfw` according to the command line in your instruction.
The compile was successful. But after changing the configuration file, I got the same error as follow. May I ask you if you know some reasons that may cause this? Thank you so much :)
![image](https://user-images.githubusercontent.com/36495

[2019-07-17 12:52] YanhaoZhang commented on #2
Hi @l1346792580123  I got the same error. Did you fix it? Many thanks.

[2019-07-17 17:31] weigao95 commented on #2
That seems to be a memory allocation error when reserving the buffer for the hash table. What GPU are you using? How many GPU memory does it have?

[2019-07-18 01:18] l1346792580123 commented on #2
I‘ve tested on two GTX TITAN X with 12G gpu memory for each. I don't know whether your project can support multiple gpus

[2019-07-18 01:52] YanhaoZhang commented on #2
Hey @weigao95 Many thanks for your prompt reply. I run the code on Ubuntu 16.04 using a laptop with GeForce GTX 960M with 4 GB memory. Is it not enough for running this code?

[2019-07-18 21:05] weigao95 commented on #2
I am not able to reproduce this problem on my machine (which uses Titan Xp). I guess the problem is potentially related to the hard-coded `arch` and `gencode` flags. You might change [these lines](https://github.com/weigao95/surfelwarp/blob/4dd7a99b4cf92ebc168a592616554a54eee98a7b/CMakeLists.txt#L11) according to your GPU and have a try (note that the code has been updated so you might need `git p

[2019-07-19 06:58] l1346792580123 commented on #2
thanks for your help.  now I can run the program.

[2019-07-19 13:33] YanhaoZhang commented on #2
Hey @weigao95 Now I have successfully run your project. For my GPU GeForce GTX 960M, I need to modify [this line](<https://github.com/weigao95/surfelwarp/blob/4dd7a99b4cf92ebc168a592616554a54eee98a7b/CMakeLists.txt#L11>) as `arch=sm_50`. The settings for some more GPU can be found [here](<https://github.com/tpruvot/ccminer/wiki/Compatibility>), just in case if anyone need it.

Really thanks a lot

[2019-07-19 17:39] #2 closed

[2019-09-10 09:17] NuageLee opened #3 "The pre-allocated buffer is not enough."
Hi,
I run it on Ubuntu16.04 with GTX 980ti, it says "The pre-allocated buffer is not enough" and give me a runtime_error.
buffer size = 50000 and size = 72748.

Any help will be much appreciated.

[2019-09-10 14:27] Algomorph opened #4 "Get rid of PCL dependency"
This is, in a sense, a feature request, or, to be more exact, an enhancement request.

PCL's versions are not very backward-compatible, and building just the right PCL with just the right feature support means messing with the dependency hell so very inherent to PCL.

To give some idea, just to deal with the old PCL version + support for only the older version of CUDA already took me over six hour

[2019-09-10 19:39] weigao95 commented on #3
You might modify the constants in ${project_root}/common/Constants.cpp

50000 seems to be "Constants::kMaxNumSurfelCandidates", you can change it to a larger number like 100000.

[2019-09-10 20:10] weigao95 commented on #4
Yeah, the code is developed when CUDA 9 is the latest. PCL is used mainly for debug visualization and it might worth to keep it only in `${project_root}/visualization` and mark as optional.

I will take a look after the ICRA deadline and you are very welcomed to come up with a PR if you want.

[2019-09-19 22:32] Algomorph opened #6 "Add AppVeyor CI"
This is another enhancement request.
It naturally flows out of #5 if the PR is accepted.

In order to properly maintain this package and preempt any PR from breaking core functionality on any platform, I propose to add AppVeyor testing to this repository.

For the initial build tests, I propose the following build configuration matrix:

- [ ] Microsoft Visual Studio 2015, PCL 1.8, CUDA 9.2
- [ ] M

[2019-09-19 22:44] Algomorph opened #7 "Simplify the dependency building using CMake's ExternalProject_Add"
Using CMake's [ExternalProject_Add](https://cmake.org/cmake/help/latest/module/ExternalProject.html) to check-out and automatically build dependencies can probably dramatically simplify the build process, esp. on the Windows platform, where more things have to be built from scratch. This would thereby aid in the adoption of SurfelWarp by the community.

Hence I propose to have corresponding CMake

[2019-09-22 20:25] weigao95 commented on #4
Thanks for your work, that's great! I will test it on my machine.

[2019-09-23 01:01] #3 closed

[2019-09-23 01:06] #4 closed

[2019-09-23 01:12] weigao95 commented on #6
I've tested Visual Studio 2016 and ubuntu with CUDA 9.2 and PCL. After some minor fix, it works well.

Adding CI would be great, but to be honest I haven't work with it before... Our research group uses CI for several projects and I may need to learn from experienced colleagues.

BTW, I'm sorry that I accidentally push to your master when fixing build with PCL. I didn't realize that I got write ac

[2019-09-23 13:31] Algomorph commented on #6
@weigao95 ,
Firstly, your fixes to the master branch of my fork are more than welcome, and thanks for doing that.

As to CI, I'll need a few more days to determine whether I should continue working on your codebase or not in the short term. If I come to the decision to proceed, I will tackle the basic set up with AppVeyor and the cilantro-based tests. From that, you would have enough material to e

[2019-09-26 01:21] NuageLee opened #9 "Hi,"

[2019-09-26 01:27] NuageLee commented on #9
Hi,
Last time I encountered an error, I found that it was about GPU memory. So I changed a GPU to TitanXP and solve it, but this time I got a "std::bad_alloc", was it because I didn't have enough memory? (32G)

[2019-09-26 18:26] weigao95 commented on #9
Can you provide more details regarding the error? It shouldn't use that many memory.

[2019-09-27 01:37] #9 closed

[2019-09-27 01:38] NuageLee opened #11 "bad_alloc error"
Hi,
Last time I encountered an error, I found that it was about GPU memory. So I changed a GPU to TitanXP and solve it, but this time I got a "std::bad_alloc", was it because I didn't have enough memory? (32G)

![image](https://user-images.githubusercontent.com/36405884/65735552-7035b000-e10a-11e9-8265-51bf83ee23cb.png)

[2019-09-27 18:28] weigao95 commented on #11
Can you trace the call stack for this exception (maybe using a debugger)? It's hard to tell which code throws this error.

[2019-10-24 13:39] Algomorph commented on #6
Just a brief update on this. I have pretty much figured out how to test CUDA-based C++ project in appveyor working on my own project. However, before I can finally test completely, I need to get rid of one dependency that's slowing down my repo's build too much. This task is in my queue, as soon as I finish and test, I can take a look at some basic appveyor support here.

[2019-10-25 00:50] weigao95 commented on #6
That would be great! Thanks for your work!

[2019-11-04 00:30] #11 closed

[2019-11-08 02:02] AzureSilent opened #16 "node candidates are extraordinarily large"
Hello!
When I run the code with the data-set **boxing** , it failed with:
`surfelwarp/common/DeviceBufferArray.h:90: The pre-allocated buffer is not enough`
(m_surfel_candidate_pixel size = 72748  >  m_surfel_vertex_confid buffer = 50000 )

I think it is not the Buffer size thing，but the algorithm or hardware. Because this is size of nodes not surfels. And 72748 nodes are extraordinarily large.
Fu

[2019-11-12 00:07] weigao95 commented on #16
Sorry for my delayed reply as the notification email from github were filtered.

I've re-run the boxing sequence on my machine with the default config, and it works well. Did you modify the configuration file? If so, please send a copy to my email and I will have a try.

If you are using the default config, could you make sure you have compiled the project with the correct cuda arch flag? What's G

[2019-11-12 10:01] plutoyuxie opened #17 "make error: "Matrix3f" is undefined"
The error is related to Eigen I think, and I change the common_types.h by
#include <external/eigen3.4/Eigen/Eigen>
but it still doesn't work. Hope for some help, thanks.

Logs:

[  1%] Building NVCC (Device) object common/CMakeFiles/common_lib.dir/common_lib_generated_common_utils.cu.o
/home/surfelwarp/common/common_types.h(25): error: identifier "Matrix3f" is undefined

/home/surfelwarp/common/co

[2019-11-12 10:45] JenningsL opened #18 "token __CUDACC_VER__ is no longer supported"
Hi, thanks for your code. I installed Eigen in /external folder, and installed cuda9.0. Then I tried  to compile the code following the readme. However, I got the following error:

`[  1%] Building NVCC (Device) object common/CMakeFiles/common_lib.dir/common_lib_generated_sanity_check.cu.o
In file included from /usr/local/cuda/include/common_functions.h:50:0,
                 from /usr/local/cuda/

[2019-11-12 12:32] JenningsL commented on #17
Switching to gcc-7 solved this problem for me.

[2019-11-12 12:38] JenningsL commented on #18
Closed. It turn out that I am still using the system installed eigen.

[2019-11-12 12:38] #18 closed

[2019-11-13 02:40] AzureSilent commented on #16
Thanks for your reply.

I didn't change anything. I'm testing on GTX 670(2G) with arch set to 30 which is according to the official website。
I think this is caused by the memory allocation.
I have allocated the error:
when the program processes at function：
fusion.ProcessNextFrameWithReinit(offline_rendering);  （the 0 frame）
the following step in this function goes wrong：
 m_image_processor->Proce

[2019-11-13 10:45] plutoyuxie commented on #17
Thanks a lot! @JenningsL This issue is solved and gcc-6 is suitable for me.

make is done but new error occurs when I run ./surfelwarp_app,  logs as below:

/3d/code/surfelwarp/core/render/Renderer.cpp:17: The graphic pipeline is not correctly initialized

It is due to glfwInit() failure. I have no idea what happen. Hope for helps again.

[2019-11-13 10:48] plutoyuxie commented on #17
Thanks a lot! @JenningsL This issue is **solved** and gcc-6 is suitable for me.

make is done but new error occurs when I run ./surfelwarp_app, logs as below:
/3d/code/surfelwarp/core/render/Renderer.cpp:17: The graphic pipeline is not correctly initialized
It is due to **glfwInit() failure**. I have no idea what happens. Hope for help again.

[2019-11-13 10:48] plutoyuxie commented on #17
Thanks a lot! @JenningsL This issue is **solved** and gcc-6 is suitable for me.

make is done but new error occurs when I run ./surfelwarp_app, logs as below:
/3d/code/surfelwarp/core/render/Renderer.cpp:17: The graphic pipeline is not correctly initialized
It is due to **glfwInit() failure**. I have no idea what happens. Hope for help again.

[2019-11-13 20:06] weigao95 commented on #16
I'm little bit confused: Is that the problem happens when the number of downsampled valid surfels from the 0th img is bigger than 65000?

If the problem is related to the initialization of warp field, can you check the output of [this line](https://github.com/weigao95/surfelwarp/blob/ea136390befb6d87c5e083c969c9c7cb453f893d/core/SurfelWarpSerial.cpp#L83) to see whether the `m_warp_field` is set to

[2019-11-13 20:11] weigao95 commented on #17
You can try a simpler GLFW applications, for instance [this one](https://www.glfw.org/docs/latest/quick.html) on its website to see if you can call glfwInit correctly and create a window.

BTW, what's your GPU and driver version?

[2019-11-14 06:59] plutoyuxie commented on #17
Hi, thank you for the reply. I use 2080ti and cuda 10.

[2019-11-14 11:03] #17 closed

[2019-11-15 11:19] AzureSilent commented on #16
No, If this happened, the code just stoped.
But if I some how change the input images to just let the valid surfels from the 0th img smaller than 65000, your code gose well.
I have debug the code, it just happened at [here](https://github.com/weigao95/surfelwarp/blob/ea136390befb6d87c5e083c969c9c7cb453f893d/core/SurfelWarpSerial.cpp#L127). It seems all things goes well before this funcion. but thi

[2019-11-15 17:13] weigao95 commented on #16
It is strange because the code you mentioned doesn’t do anything to warp field. If the problem is with warp field, the bug should be located in `ProcessFirstFrame` instead of `ProcessNextFrameWithInit`.

OpenGL is used to render the index map and solver/fusion maps, which are quite essential to the pipeline. Thus, I don’t think it is easy to get rid of OpenGL.

There is a big change in OpenGL 3.3

[2019-11-18 20:53] weigao95 commented on #16
To be honest I'm not a expert on GPU server and not able to help. I'm afraid the setup effort is not trivial.

I took a look at EGL. That seems to be a completely different setup of graphic API, which requires at least re-write the core/render module, which is a huge amount of work (and I don't know would it work with CUDA).

[2019-11-19 01:18] AzureSilent commented on #16
It's a bad news...  T_T
I'll try other ways...
Anyway, thank you.

[2019-11-20 02:14] #16 closed

[2019-11-22 06:40] OptSolution opened #22 "CUDA_cublas_device_LIBRARY-NOTFOUND"
I use cuda 10.1 on ubuntu 18.04, when I cmake

I get the error

`CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
CUDA_cublas_device_LIBRARY (ADVANCED)`

[code]

[2019-11-22 21:38] weigao95 commented on #22
What's the version of cmake you are using? Can you try a higher version?

[2019-11-25 04:02] OptSolution commented on #22
The version in the cmake-gui is 3.10.2, I update cmake to 3.15.5 it works. Thanks

[2019-11-25 04:02] #22 closed

[2019-12-22 02:00] Cryst4L9527 opened #23 "a error when running the demo"
when I‘m running the demo under cuda9.1 and cilentro on 2080Ti，there is a error at line534 of SurfelFusionHandler.cu，It seems that there is something wrong about the cudaMemcpyAsync.Does anyone know why？thx！

[2019-12-22 02:18] Cryst4L9527 commented on #23
I've printed the error message:
an illegal memory access was encountered.
It's just the original code I'm running.

[2019-12-22 03:24] Cryst4L9527 commented on #23
and I've try a simple sample in my environment,the function cudaMemcpy and cuda Malloc are running in a right way.

[2019-12-23 20:13] weigao95 commented on #23
I am not familiar with the cilentro environment (I use pcl instead), but I remembered this problem happened when the cuda arch flag is not correct. Can you check that?

[2019-12-24 08:52] Cryst4L9527 commented on #23
I run it on a RTX 2080Super and set the cuda arch flag as 75,and run under cuda 10.0.Is there anything wrong?
I even change the CMakeList.txt as following:

# Cuda
find_package(CUDA 10 REQUIRED)
include_directories(${CUDA_INCLUDE_DIRS})
set(CUDA_NVCC_FLAGS "${CUDA_NVCC_FLAGS} -arch=sm_75")
set(CUDA_NVCC_FLAGS "${CUDA_NVCC_FLAGS} -gencode=arch=compute_75,code=sm_75")
set(CUDA_NVCC_FLAGS "${CUDA_NVC

[2019-12-26 19:48] weigao95 commented on #23
Sorry but I don't have cuda10 environment and cannot reproduce the error. Thus, I can only provide you some advice.

Can you set the `CUDA_DEBUG_SYNC_CHECK` flag to 1 in `common/global_configs.h` and run the code again?

Due to the sync mechanism of cuda kernel, the error might not be caused by the code that throws it (line534 in your case). The most common case is the kernel is launched with inco

[2020-01-02 17:46] #23 closed

[2020-01-05 06:07] Cryst4L9527 commented on #23
I set the flag and the error changed:
/home/cscg/surfelwarp/core/geometry/SurfelNodeDeformer.cu:147

#if defined(CUDA_DEBUG_SYNC_CHECK)
	cudaSafeCall(cudaStreamSynchronize(stream));//here
	cudaSafeCall(cudaGetLastError());
#endif

Is this error familiar?^-^

[2020-01-05 14:17] Wjiajie opened #24 "run error"
when i try to run:
[code]
I got an errro below:
[code]
i check `GLSurfelGeometryVBO.cpp:82`:
[code]
Do u know how to solve it?

My CMake confg is:
[code]

BTW,i run the code with GTX 1660ti ,6 GB.But i can't find its Compute Capability in `Nvidia.com`,i just set it to `61`.

could u help me to find out what's wrong with my confg? Thanks!

[2020-01-06 20:33] weigao95 commented on #24
The problem seems related to the cuda and OpenGL interoperability. Can you run a simpler program (for instance the simpleGL example comes with cuda installatioin) that register a OpenGL vertex buffer object as cuda array on your setup, and make sure it works?

[2020-01-06 20:38] weigao95 commented on #23
Can you check device::forwardWarpVertexAndNodeKernel ([this line](https://github.com/weigao95/surfelwarp/blob/82f1d25e10490e97460d3a21c853eb98c234d92f/core/geometry/SurfelNodeDeformer.cu#L130)) to make sure its input parameter is reasonable (the size is correct and contains non NaN)?

[2020-01-07 13:35] Wjiajie commented on #24
Thanks for reply~Indeed, something wrong occur when i run 'simpleGL example' . Seems my graghics driver conflicts with cuda version. I will solve it myself !

[2020-01-07 14:18] #24 closed

[2020-01-12 09:43] Wjiajie opened #25 "How to compile `pangolin` with `Eigen`?"
I try to compile `surfelwarp` on win10 ,with vs2017 ,cuda 10.1 and `cilantro`,when i compile `cilantro`,i got an error:`Namespace "pangolin" has no member "ToEigen"`。But i fail to compile `pangolin with eigen3`,I set `BUILD_PANGOLIN_EIGEN` to be`true`,and also set `EIGEN_INCLUDE_DIR` to my Eigen's include folder,but i didnt work for me . Cmake Logs of `pangolin`,seems not mention `eigen` at all:
[

[2020-01-15 09:59] Wjiajie commented on #25
Oh~ my fault ，i have solved the problem...

[2020-01-15 09:59] #25 closed

[2020-01-15 20:56] weigao95 commented on #25
Sorry for my delayed replay and happy to see you resolve this problem. The notification email from github was classified as spam and I have not seen it. You can send me an email if I don't reply for a long time.

[2020-01-16 14:23] Wjiajie commented on #25
Thanks for reply,so kind of you~~

[2020-01-22 11:37] bsespede opened #26 "Error building on Ubuntu 19.04"
### **System**

- Ubuntu 19.04
- Using eigen from libeigen3-dev. Tried building it myself but I get the same error
- CUDA 10.1
- Latest commits from `cilantro` and `Pangolin` as of today.

### **Error**

During compilation I get these errors when building `common_lib_generated_sanity_check.cu.o`

### **Output**

[  1%] Building NVCC (Device) object common/CMakeFiles/common_lib.dir/common_lib_gener

[2020-01-24 17:42] weigao95 commented on #26
That seems to be the problem of using Eigen in CUDA. Can you try to write a simple .cu file that include Eigen and make sure it works?

Sorry but I don't have Ubuntu 19 environment available.

[2020-01-29 10:56] bsespede commented on #26
It was Indeed an incompatibility issue between CUDA 10.2 and Eigen 3.7. Had to downgrade to CUDA 9.2.

Now I'm having issues with during linking with cilantro, as apparently the file <cilantro/point_cloud.hpp> was moved in recent versions. May I ask you which commit you used for cilantro? Otherwise I'll give PCL a go.

Thanks for your time!

[2020-01-30 08:40] bsespede commented on #26
Hi Wei,

I've finally managed to find a working cilantro version and it builds perfectly fine. However, after I downloaded and tried to run the sample 'boxing' scene I get the following error during runtime:

`/home/bsespede/Repositories/surfelwarp/cmake-build-debug/apps/surfelwarp_app/surfelwarp_app ./data/boxing_config.json
Error: 	/home/bsespede/Repositories/surfelwarp/common/algorithm_types.h:

[2020-01-30 08:45] #26 closed

[2020-01-30 09:03] bsespede opened #27 "Error on 'm_image_processor' construction"
### **Error**

Input:
`./cmake-build-debug/apps/surfelwarp_app/surfelwarp_app ./data/boxing_config.json`

Output when executing:
`Error: 	/home/bsespede/Repositories/surfelwarp/common/algorithm_types.h:85
Process finished with exit code 0`

### **System**

**OS:** Ubuntu 19.04
**CUDA:** 9.2

### **Comments**

I tried debugging the error and apparently it crashes on 'SurfelWarpSerial.cpp' when inst

[2020-01-30 11:21] #27 closed

[2020-01-30 14:37] timhutton opened #28 "Some cilantro files have moved"
e.g. the SurfelWarp code refers to `#include <cilantro/point_cloud.hpp>` which doesn't exist - is now `cilantro/utilities/point_cloud.hpp`

[2020-01-31 10:34] bsespede commented on #28
Hi Tim, I've used this commit from cilantro and it worked perfectly: `e9eb9f3c5c75710eb6cfeeb6313b5a73aaa06a28`

[2020-01-31 10:54] timhutton commented on #28
Great, thanks. That commit could usefully go in the documentation.

[2020-02-01 22:02] weigao95 commented on #28
Sorry for my delayed reply as I'm struggling with the RSS deadline these days and I'm glad to see you solve the problem. I will a note to documentation.

[2020-02-01 22:06] #28 closed

[2020-02-03 13:03] Wjiajie opened #29 "How can i save the final model as `.off` format ?"
I add the code:
[code]
in order to save the final model as point cloud format , But i get `Segmentation fault` error when runing.
The debug logs :
[code]

It seems some error occur in:
[code]
inside the fuction `saveCorrespondedCloud(observation,fused_geometry_idx,save_dir);`.

Am I passing the wrong paras ? Could you help me out to see what's wrong?Thank.

[2020-02-03 20:43] weigao95 commented on #29
Can you make sure `geometry.live_vertex_confid.ArrayView()` has correct size? You can get it by `geometry.live_vertex_confid.ArrayView().Size()`.

[2020-02-06 05:47] Wjiajie commented on #29
The result is:
[code]
BTW,the subfuction :
[code]
inside the fuction `saveCorrespondedCloud(observation,fused_geometry_idx,save_dir);` works well,
But somethings wrong with :
[code]

[2020-02-06 07:24] Wjiajie commented on #29
When i call:
[code]
`h_cloud_1` return all zero value in `h_cloud_1.points` ,while `h_cloud_2` return reasonable value.
For example:
[code]

Is it something wrong occour when return the value from GPU device to host ?

[2020-02-06 19:14] weigao95 commented on #29
I guess you add the save command to a place where sync has not finished. Where did you add the code? Can you attach your file?

[2020-02-07 04:31] Wjiajie commented on #29
I add the code in `void surfelwarp::SurfelWarpSerial::ProcessNextFrameWithReinit(bool offline_save)` of `SurfelWarpSerial.cpp`:
[code]
I did not chage any code of `SurfelWarpSerial.cpp` except here.

[2020-02-07 19:35] weigao95 commented on #29
Can you add a line `Visualizer::DrawPointCloud(observation.vertex_config_map)`  before `saveCorrespondedCloud(observation,fused_geometry_idx,save_dir)` to make sure the image processing is correct?

[2020-02-09 03:20] Wjiajie commented on #29
I add it ,and show nothing~Whether or not i Comment  `saveCorrespondedCloud(observation,fused_geometry_idx,save_dir);` out

![Screenshot from 2020-02-09 11-17-20.png](https://i.loli.net/2020/02/09/rjHhoktpgIKu1FE.png)

[2020-02-10 19:41] weigao95 commented on #29
It means the image processing is not correct as there is not valid vertex. I would recommend to debug the image processing using the `surfelwarp/apps/imgproc_app/main.cpp` application to make sure the rgbd image, vertex and normal map is correct. Also make sure the far-away clipping value is reasonable.

[2020-02-11 09:32] Wjiajie commented on #29
Thanks! I will work it out myselves~

[2020-02-11 09:32] #29 closed

[2020-02-16 05:17] wine3603 commented on #29
@Wjiajie hi, I got the same problem.
I want to reconstruct the mesh in form of obj or ply, @weigao95 Could you guild me how to generate the mesh from the generated *.png files?

[2020-02-17 10:03] xiaotaw commented on #18
Hi, @JenningsL. I come across the same problem, could you share the Eigen version which is compatible with CUDA=9.0?

My system installed eigen = 3.3.4

[2020-02-18 07:54] xiaotaw opened #30 "build failed on Ubuntu 18.04 + cuda-9 + cilantro"
### OS & env
[code]
### How to reproduce error
[code]
1. Building cilantro and Pangolin using system installed eigen by following https://github.com/weigao95/surfelwarp/blob/master/doc/cilantro_build.md.

2. build
[code]
The error message is as follow:
[code]

[2020-02-19 04:01] weigao95 commented on #30
I guess the problem is with either Eigen or boost. Can you try a simpler program that includes both of them and make sure it works? You might need to inspect cmake cache to ensure you are testing the Eigen/boost that produces the error you mentioned.

[2020-02-19 15:14] xiaotaw commented on #30
Thank you for reply, @weigao95 . I created a simple demo, which includes eigen, cuda, and boost. The demo runs well without any errors. The code is published at  https://github.com/xiaotaw/test_for_surfelwarp/tree/master.

Any suggestions? Thank you!

[2020-02-19 18:15] weigao95 commented on #30
You might need to include Eigen and boost headers in your `useCUDA.cu` file to test whether it works. The log you posted suggests the problem are with the nvcc compiler.

[2020-02-20 04:15] xiaotaw commented on #30
Thank you very much, @weigao95 !

When adding Eigen header in useCUDA.cu, the the demo failed to build.

After a series of  test, some conclusions are:
1. system installed Eigen(3.3.4) is **NOT** compatible with CUDA(9.0.176).
2. surfelwarp/external/eigen3.4(3.3.90) is compatible with CUDA(9.0.176)
3. By adding one line in surfelwarp/CMakeList.txt, the problem was solved:
[code]

[2020-02-20 04:15] #30 closed

[2020-03-02 07:34] liyiming001 opened #31 "error: identifier "Matrix3f" is undefined"
Dear author:
       I have success to cmake the file by following the second installation guide.However something error occurred.as the following:
      /surfelwarp/common/common_types.h(26): error: identifier "Matrix3f" is undefined
      /surfelwarp/common/common_types.h(26): error: expected a ";"
     ...
    and I guess that the version of eigen or boost is incompatible with project.try some v

[2020-03-03 12:55] jimzou opened #32 "Eigen3.4 (declared implicitly) cannot be referenced -- it is a deleted function"
**My EVN:**
Visualization_library=cilantro
windows10
VS2017
CUDA10.0
Compiled Pangolin with Eigen3.4
Compiled cilantro with Eigen3.4

When I compile surfelwarp project, get error:
[code]

@Algomorph when I build cilantro, no error is reported. The Eigen3.4 used is surfelwarp/external/eigen3.4, I can't find where the problem is

[2020-03-04 14:11] Algomorph commented on #32
@jimzou I've commented in https://github.com/kzampog/cilantro/issues/48

[2020-03-06 02:41] #32 closed

[2020-03-06 22:23] weigao95 commented on #31
Can you pose the log from cmake?

[2020-03-07 03:42] liyiming001 commented on #31
As following

[2020-03-07 03:42] liyiming001 commented on #31
/home/lym/图片/1.png
/home/lym/图片/2.png
/home/lym/图片/3.png

[2020-03-07 03:50] liyiming001 commented on #31
just like this

[2020-03-07 03:50] liyiming001 commented on #31
just like this

[2020-03-07 04:06] liyiming001 commented on #31
![1](https://user-images.githubusercontent.com/55123507/76136351-780b6000-606b-11ea-935d-2171dff1928b.png)
![2](https://user-images.githubusercontent.com/55123507/76136356-85284f00-606b-11ea-8004-f14a1ab9202e.png)
![3](https://user-images.githubusercontent.com/55123507/76136402-01229700-606c-11ea-84f9-f4b8758180ce.png)
just like this

[2020-03-07 20:53] weigao95 commented on #31
It seems the problem comes from using Eigen with CUDA. Can you try a simpler program that includes Eigen header in .cu file and make sure it works? You might need to inspect cmake cache to ensure you are testing the Eigen that produces the error you mentioned.

[2020-03-16 14:42] liyiming001 commented on #31
It required Eigen3.3.9 according to your documents when install cilantro.however the latest version is 3.3.7。In the CmakeList.txt:
# Do not use the system Eigen
set(EIGEN_ROOT "${CMAKE_SOURCE_DIR}/external/eigen3.4")
set(EIGEN_INCLUDE_DIR ${EIGEN_ROOT})

I think maybe this is season why I failed. So what is the true version in your task.

[2020-03-22 02:09] #31 closed

[2020-04-02 10:12] xiaotaw opened #33 "[Question] Does surfelwarp assume that the camera always stay still?"
In VolumnForm dataset, the camera barely move. And I haven't found any code about coordinate transformation between camera and world.

Does surfelwarp assume that the camera always stay still, and not turn around?

[2020-04-08 14:54] weigao95 commented on #33
No. There is a rigid pre-solve before the non-rigid registration.

[2020-04-09 01:11] xiaotaw commented on #33
I fetched color and depth image from a kinect dk camera (by rewriting some functions: FetchXxxxxImage). And start surfelwarp app to reconstruct a static scene(a dinner table). I held the camera, walking around the table, and the reconstruction failed.

[2020-04-09 13:51] weigao95 commented on #33
The patch collider is not trained for that scene I think.

[2020-04-12 15:50] #33 closed

[2020-04-17 11:00] bsespede opened #34 "Crash due to fast motion?"
Hello, I've noticed that the algorithm simply crashes upon frame with "fast" motion from one frame to the other. The reconstruction up to that point looks pretty much perfect. In particular, the program reports:

_...
/home/bsespede/Repos/surfelwarp/apps/surfelwarp_app/main.cpp:40: The 39th Frame
/home/bsespede/Repos/surfelwarp/core/warp_solver/DensityForegroundJacobianResidual.cu:192: There is no

[2020-04-18 07:36] weigao95 commented on #34
The message "there is no foreground pixel" means either
1) The clipping distance is wrong. The object for reconstruction is not within the specified min and max distance.
2) The foreground segmentation reports no foreground.

Please first try to modify the clipping distance in the config file and have a try.

[2020-04-18 07:50] bsespede commented on #34
Could this potentially cause the algorithm to crash? I've managed to make other reconstructions with this warning and they seemed ok.
Furthermore, I also experimented settings smaller and larger clipping ranges and it would still crash with the error:
`/home/bsespede/Repos/surfelwarp/core/geometry/DoubleBufferCompactor.cu:165`

[2020-04-20 06:05] xiaotaw commented on #34
I also met the same problem.
In #33 , when camera moves fast, surfelwarp_app may crash down and report the same error.

@bsespede did you record the color and depth images that can reproduce the problem?

[2020-04-20 16:30] weigao95 commented on #34
Could you provide more details regarding the error in `DoubleBufferCompactor`? Is that because the array to compact from is emtpy?

[2020-04-21 08:41] bsespede commented on #34
Hi,

@xiaotaw I dont have the same scene where it crashed recorded but I have another one with the same error. Its using the VolumeDeform dataset format so it should be plug-and-play to test it out:
https://drive.google.com/file/d/1WMol0P4jM49h22bLlCZn37w_-NA4dH03/view?usp=sharing

@weigao95 Commenting out the lines 183 and 184 in DoubleBufferCompactor.cu, I get the following output on the above d

[2020-04-21 12:37] Cartucho commented on #31
I had the same issue and I fixed it by uncommenting the following line: https://github.com/weigao95/surfelwarp/blob/6e547e6b33b49d903475b869a58c9bda7b9c3061/CMakeLists.txt#L70

[2020-04-23 14:00] Cartucho opened #35 "No package 'libopenni2' found"
When I compile the code I get the following message `No package 'libopenni2' found`

I am on Ubuntu 16.04 and using CUDA 9.0.

[code]

[2020-04-23 20:40] weigao95 commented on #34
Can you enable the `CUDA_DEBUG_SYNC_CHECK ` in `common/global_configs.h` and check the error again?

[2020-04-23 20:41] weigao95 commented on #35
It seems the build file generation succeeds. What happened if you just type `make`.

[2020-04-24 02:17] shugao1 opened #36 "I hope to get some advice"
Hello author, I want to implement your project with VS2019 on win10. Based on VCPKG, I installed libraries PCL, GLFW3, eigen, pangolin, and added cliantro to the subdirectory, but encountered many problems, I hope to get some guidance from you.

[2020-04-24 06:24] bsespede commented on #34
Now its crashing in `SparseCorrespondenceHandler.cu` with the following error:
`/home/bsespede/Repos/surfelwarp/apps/surfelwarp_app/main.cpp:40: The 26th Frame
Error: 	/home/bsespede/Repos/surfelwarp/core/warp_solver/SparseCorrespondenceHandler.cu:272`

I've also noticed that sometimes it also crashes with another error, but I guess its unrelated to the previous one:
`/home/bsespede/Repos/surfelwa

[2020-04-24 06:46] Cartucho commented on #35
If I type `make` I get the following error:
I checked and it seems to be the same error as (#31). Do you think the problem has to do with the CUDA 9.0 version? Which version did you use, 9.2?

[code]

[2020-04-26 04:20] xiaotaw opened #37 "support online rendering"
Hi, I noticed surfelwarp support offline rendering. It's very cool to display rendered images (e.g. live_abedo.png) on screen, instead of saving into local files.

Simply comment out `glfwWindowHint(GLFW_VISIBLE, GL_FALSE);`, it just displays a black window. HAHA

Thank you!

[2020-04-26 12:32] xiaotaw commented on #34
@bsespede, It took me some days to download the dataset, due to the poor network.

Using your data and with  CUDA_DEBUG_SYNC_CHECK, the result is:
/home/xt/Documents/data/surfelwarp/apps/surfelwarp_app/main.cpp:28: The 0th Frame
/home/xt/Documents/data/surfelwarp/apps/surfelwarp_app/main.cpp:28: The 1th Frame
Error: 	/home/xt/Documents/data/surfelwarp/imgproc/normal_map.cu:124

I find cuda-program

[2020-04-27 16:17] weigao95 commented on #34
I guess the problem is that the sparse correspondence finder cannot establish correct correspondence. Can you check the correspondence result of image processor using `{project}/apps/imgproc_test`? You might need `DrawImagePairCorrespondence` function in `Visualization` namespace.

The correspondence is an implementation of global patch collider, and might need additional training for good perform

[2020-04-27 16:18] weigao95 commented on #35
Yeah, that seems to be the probem with Eigen and CUDA. Can you try to debug it with a simpler program that includes Eigen header in .cu file and make sure it works? You might need to inspect cmake cache to ensure you are testing the Eigen that produces the error you mentioned.

[2020-04-27 16:20] weigao95 commented on #36
I used to develop the code on win10, but I do not have a vs2019 environment and cannot test it myself.

Can you be more specific about the problem you encountered?

[2020-04-27 16:26] weigao95 commented on #37
You need to delete the `glBindFramebuffer` in the drawing function. Here is a tutorial: https://learnopengl.com/Advanced-OpenGL/Framebuffers

[2020-04-29 07:46] Cartucho opened #38 "fatal error: pcl/visualization/pcl_visualizer.h: No such file or directory"
I decided to try the compilation in another workstation with Ubuntu 16.04 and CUDA 10.2. However, I get the following error `fatal error: pcl/visualization/pcl_visualizer.h: No such file or directory`.

I added to the CMakeLists.txt the following lines:
[code]
and I uncommented line 54
`    set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")`

Then, I tried to compile:

[code]

[code]

[2020-04-29 08:43] xiaotaw commented on #37
Done, Thx!

[2020-04-29 08:43] #37 closed

[2020-04-29 09:59] xiaotaw opened #39 "Ubuntu 50 ms per frame"
1. Build with Release and disable offline rendering
2. Run surfelwarp_app on ubuntu with GPU
3. The average time is 55 ms (add nvcc --use_fast_math, 45 ms)

Any other ways to increase fps?

[2020-04-29 13:39] weigao95 commented on #39
1. Try windows. Although I don't know why, in my developing the code runs much faster on it.
2. What GPU are you using? Can you try a better one?
3. If you want to invest time, try implement thread-level parallelism for rendering, solver and geometric updater. The code was architected to support it, but not implemented yet.

[2020-04-29 13:43] weigao95 commented on #38
Check your cmake cache to see if `WITH_PCL` is ON.

It seems you are compiling with `cilantro`. Then a pretty hacky solution would be just comment the pcl headers.

[2020-04-29 15:01] Cartucho commented on #38
Yes, I am using cilantro as instructed in the README since I am using `CUDA 10`.

I checked and there was no `WITH_PCL` parameter in the "CMakeCache.txt" file.

In which files should I comment out the PCL headers?

[2020-04-30 03:31] xiaotaw commented on #39
Additional Info:
I get some timestamps in function `ProcessNextFrameWithReinit`, and the durations of some key steps are listed here:

<pre>    Duration/us      Time/s
/data/surfelwarp/apps/surfelwarp_app/main.cpp:37: The 210th Frame
        11           9.68129   start to process next frame
        38           9.68132   Check the frame and draw
        26           9.68135   Map to solver maps

[2020-05-02 04:38] shugao1 opened #40 "I'm configuring cilantro"
git clone https://github.com/kzampog/cilantro.git
cd cilantro
mkdir build
cd build
cmake ..
make -j

The following error occurs：
In file included from /home/gyc/桌面/3D/cilantro/src/image_viewer.cpp:1:0:
/home/gyc/桌面/3D/cilantro/include/cilantro/image_viewer.hpp: In member function ‘cilantro::ImageViewer& cilantro::ImageViewer::finishFrame()’:
/home/gyc/桌面/3D/cilantro/include/cilantro/image_viewer.h

[2020-05-02 12:41] #34 closed

[2020-05-02 12:42] #35 closed

[2020-05-02 12:42] #36 closed

[2020-05-02 12:42] weigao95 commented on #38
The pcl header in `visualization/PointCloudVisualizer.cpp`

[2020-05-02 12:44] weigao95 commented on #39
It is feasible, but you need to take some care as the image processing for different frame coupled.

[2020-05-02 12:46] weigao95 commented on #40
Please raise this issue under the repo of `cliantro` as the author would be most familiar with it.

[2020-05-02 12:46] #40 closed

[2020-05-03 04:58] shugao1 opened #41 "make"
gyc@3Dre:~/桌面/3D/surfelwarp/build$ cmake ..
-- Found OpenMP_C: -fopenmp
-- Found OpenMP_CXX: -fopenmp
-- Found OpenMP: TRUE
-- Configuring done
-- Generating done
-- Build files have been written to: /home/gyc/桌面/3D/surfelwarp/build
gyc@3Dre:~/桌面/3D/surfelwarp/build$ make
[  1%] Building NVCC (Device) object common/CMakeFiles/common_lib.dir/common_lib_generated_sanity_check.cu.o
cc: error trying t

[2020-05-03 05:19] #41 closed

[2020-05-03 09:51] shugao1 opened #42 "When I tried 'make' in surfelwarp"
I have installed eigen3.3.9 pangolin cilantro in /usr/local/include, and the configuration of cmake surfelwarp has been successfully configured, but make error:

gyc@3Dre:~/Desktop/3D/surfelwarp/build$ make
[  1%] Building NVCC (Device) object common/CMakeFiles/common_lib.dir/common_lib_generated_sanity_check.cu.o
/home/gyc/Desktop/3D/surfelwarp/common/logging.h: In destructor ‘surfelwarp::LogMess

[2020-05-04 00:12] #42 closed

[2020-05-04 10:37] Cartucho commented on #38
I believe the error was being caused since I set wrongly the libraries in the CMake. I am not 100% sure but I think I should have done:

[code]

[2020-05-04 10:38] #38 closed

[2020-05-04 12:58] Cartucho commented on #17
I tried to compile this repo on two different computers and I get the same error.

Computer 1: NVIDIA 20800 ti, CUDA 10.2, Ubuntu 16.04
Computer 2: NVIDIA GEFORCE GTX 950M, Cuda 9.0, Ubuntu 16.04

[2020-05-04 13:20] Cartucho commented on #17
If you are using CUDA 10, switching to gcc-7 like @JenningsL suggested indeed works.

[2020-05-05 01:38] #39 closed

[2020-05-06 13:07] daxiong-123 commented on #37
Hello, could you tell me which `glBindFramebuffer` should I delete? @xiaotaw

[2020-05-07 02:18] xiaotaw commented on #37
Always set the second parameter to be 0, and the pics/images will be updated in windows.
glBindFramebuffer(GL_FRAMEBUFFER, 0);

Note: Based on the current code, you also have to set 'offline rendering' with True.

[2020-05-07 03:17] xiaotaw commented on #33
What can I do to finetune gpc model for custom scene?

[2020-05-09 07:59] daxiong-123 commented on #37
Thanks, i tried but still failed. Maybe I should look through the whole project.

[2020-05-09 10:54] xiaotaw commented on #37
@daxiong-123 try one more time? it should work:
1. comment out glfwWindowHint(GLFW_VISIBLE, GL_FALSE) to make sure the blank window appears
2. find function `drawVisualizationMap` in file RendererDraw.cpp, and
modify glBindFramebuffer ( line 191)
3. in the same function `drawVisualizationMap`, insert `glfwSwapBuffers(mGLFWwindow);` before cleanup code (line 218).

[2020-05-12 04:32] xiaotaw opened #43 "Failed to Solve on Boxing-like dataset"
Hello, I was trying to repeat `Boxing` using a live camera. It failed to seperate fist from face.
cliped_filter_depth:
![cliped_filter_depth](https://user-images.githubusercontent.com/13536925/81638392-a29ede00-944b-11ea-9ada-4978a7314319.png)
reference_phong:
![reference_phong](https://user-images.githubusercontent.com/13536925/81638409-b0546380-944b-11ea-82be-8be7186c7495.png)
live_phone:
![live

[2020-05-22 14:16] weigao95 commented on #43
You might try to modify the re-init parameter.

[2020-05-22 14:16] #43 closed

[2020-05-29 08:36] shugao1 opened #44 "How to improve the efficiency of reconstruction"
Hello! I implemented your program in Ubuntu, running a data set, but I need 3s to process a frame of image, it looks like your video is more efficient to rebuild, what's the reason?

[2020-05-31 14:10] weigao95 commented on #44
It shouldn't be that slow. Please check 1) have you turned out offline rendering 2) have you built with release.

You may check: https://github.com/weigao95/surfelwarp/issues/39 for more discussion.

[2020-05-31 14:12] #44 closed

[2020-06-29 18:28] Dhruva-Storz opened #45 "CUDA_cublas_LIBRARY not found"
Hi,

Ive got an issue with building. All the steps in the build instructions worked fine up until the build stage, where I get the following error

[code]

I am using `Cuda 10.1 on ubuntu 18.04`

I also got a similar error with CUDA_cublas_device_LIBRARY, but this was solved by using a newer version of Cmake as per issue #22, however this one remained.

Thanks

[2020-07-08 18:15] #45 closed

[2020-07-21 15:35] bsespede commented on #34
Hi again @weigao95 , @xiaotaw

Sorry for the late reply, I finally had some time to look into this again and visualized the correspondences of the crashing frame:
[https://drive.google.com/file/d/1JtzOOEagHJM_mnvew03aP2gsE_nxppGJ/view?usp=sharing](url)

Obviously some of the correspondences are incorrect, could you provide me some information on how to retrain the global patch collider?

Thanks ag

[2020-07-21 15:41] bsespede opened #47 "Nan in node candidate error"
Hi again @weigao95

I finally had some time to look into the error mentioned in #34 :
... /home/bsespede/Repos/surfelwarp/apps/surfelwarp_app/main.cpp:40: The 57th Frame
/home/bsespede/Repos/surfelwarp/core/geometry/WarpFieldUpdater.cpp:21: Nan in node candidate
terminate called after throwing an instance of 'std::runtime_error*'

As you mentioned I tried visualizing the correspondences of the cra

[2020-07-22 07:59] bsespede commented on #47
I've just tested the same scene on gpc_test and I've got a similar result:
[Correspondence son gpc_test](https://drive.google.com/file/d/1UJZ6ga8KgPBvcdkEA98RXzFFvYKeMxWu/view?usp=sharing)

[2020-07-22 11:31] #47 closed

[2020-09-04 16:05] Sunzhiliang opened #48 "The apply of FilterReg in 3D reconstruct"
Recently ，I am interesting in your work "FilterReg:Robust and Efficient Probabilistic Point-Set Registration，CVPR 2019", I try to find it here,but failed. Where is the  the apply of FilterReg in 3D reconstruct?

[2020-09-14 14:51] mihaibujanca opened #49 "Passing saved poses instead of computing them yields different results"
I am running a couple of tests on the code and tried saving the poses to a file and passing them as an additional parameter to `ProcessNextFrameWithReinit`. I've commented out
[code]
and instead passed the precomputed pose to the camera.

I was wondering if there is any reason calling the rigid solver methods might be necessary.

I am still investigating the issue, but at some point I'm getting
`s

[2020-09-14 20:04] mihaibujanca commented on #49
This was due to the way Eigen was copying the precomputed poses, my bad

[2020-09-14 20:04] #49 closed

[2020-10-11 16:58] ByLee1997 opened #50 "how to visualize the program output while running?"
I've run the surfelwarp_app and it execute normally and produce png output in the folder, but I can't see the output when running.

When I change the **_glfwWindowHint(GLFW_VISIBLE, GL_TRUE)_** in **_surfelwarp::Renderer::initGLFW()_**, it create a window and has an error of no response.

My environment is ubuntu16.04 RTX2070 cuda10.0, using cilantro

[2020-10-24 10:28] jmg1002 opened #51 "Error: Nan in node candidate"
I've run the surfelwarp_app and it printed error ${project_root}/core/geometry/WarpFieldUpdater.cpp:24: Nan in code candidate

Actually, in the case of The 0th Frame, the code was executed and the above error message was outputted in the 1th Frame.

I thick this is a CUDA setting problem. I want to know how to fix this error...

My environment is ubuntu 16.04, GTX TITAN X cuda9.0 using PCL.

[2020-11-03 02:17] Wangyouai opened #52 "'nlohmann::detail::parse_error' what(): [json.exception.parse_error.101] parse error at 1: syntax error - unexpected end of input; expected '[', '{', or a literal Aborted"
Ubuntu18.04、cuda10.0、gcc7.5
After my surfelwarp project make is successful, I configured the gpc and boxing paths, and ran **_./surfelwarp_app /path/to/config._** An error of'nlohmann::detail::parse_error appeared, have you encountered this situation?

[2020-11-08 18:33] weigao95 commented on #48
It is in another repo of that paper. The integration is pretty dirty thus not released. I may spend some time on that later and you are welcomed to try it if you want.

[2020-11-08 18:34] weigao95 commented on #50
See: https://github.com/weigao95/surfelwarp/issues/37#issue-606914871

[2020-11-08 18:35] weigao95 commented on #51
I don't think that's likely not a cuda setting problem. Can you visualize the first frame to ensure the points are OK?

[2020-11-08 18:37] weigao95 commented on #52
I haven't seen it. That's sound like a parsing error of json file. Have you edited the json config?

[2020-11-09 02:51] Wangyouai commented on #52
Yes, I only modified the path of the gpc and boxing database of thesurfelwarp/test_data/boxing_config.json file through the text editor that comes with ubuntu. The modified code is as follows, and I will send you the source file as an attachment.
{

    "clip_far":1300,

    "clip_near":10,

    "data_prefix":"/home/wya/project/SW_cliantro/VolumeDeformData/boxing/data",

    "depth_focal_x":570.0,

[2020-11-10 10:31] weigao95 commented on #52
I don't see anything wrong with that, but I don't have a windows platform now for testing. Maybe you can ask the author of json.h for help as he should be the expert.

[2020-11-10 13:16] #48 closed

[2020-11-13 16:45] #50 closed

[2020-11-15 09:57] mihaibujanca opened #53 "Speeding up sparse feature matching"
Hi @weigao95
I've profiled surfelwarp and it seems like `surfelwarp::device::buildColliderKeyValueKernel` takes up 40-50% of CUDA time (and most of it seems to be spent on waiting to synchronize).
Do you have any suggestions on how this might be improved?

On a related note, I've tried increasing `num_trees` in `PatchColliderRGBCorrespondence`, but any value above 5 results in a crash in `PatchCol

[2020-11-17 10:16] #52 closed

[2020-11-17 10:16] #51 closed

[2020-11-17 10:23] weigao95 commented on #53
Tree search is not very friendly with GPU, and I remember the fusion4d paper reports a similar problem. Their solution is to use thread-level parallelism to run image processing and reconstruction concurrently, which is not implemented in this repo yet.

Perhaps a learned optical flow would be better than GPC? Seems to be a good candidate.

[2020-11-18 04:25] qaler opened #54 "How to acquire deformation vector field of 2 point clouds?"
Hello @weigao95, many thanks to your contributions of maintaining this promising and fast reconstruction library!

I want to know if there is any way to apply deformation registration to 2 point clouds and acquire the deformation vector field by using your library? I guess the registration result of 2 depth frames is stored inside [SurfelWarpSerial.cpp](https://github.com/weigao95/surfelwarp/blob/

[2020-11-18 13:52] Wangyouai commented on #52
Sorry, I have been away for a while. The reason for the previous error should be that the path to open the boxing_config.json file is wrong, and an absolute path is required. Refer to this link：json.exception.parse_error
So I want to ask how to check the code that reads the json file in your project, and then see if this problem can be solved.Because when I used clion to view your project, I didn'

[2020-11-19 13:04] Wangyouai commented on #54
Hello, are you using ubuntu and cuda10.0?

[2020-11-23 14:01] Wangyouai commented on #52
My solution：modify the **_surfelwarp/apps/surfelwarp_app/main.cpp_**
[code]

[2020-11-23 14:18] Wangyouai opened #55 "Run error:surfelwarp/common/algorithm_types.h:85"
hello，I encountered a Error after running `/surfelwarp_app /path/to/config`
[code]
algorithm_types.h:85:`cudaSafeCall(cudaMalloc((void**)(&m_device_num_selected),sizeof(int)));`
My computer graphics card is GTX1070 , I used the cuda10.0 and cilantro, so I set the **cuda_arch=61** as follows:
I have modified the CMakeLists:

[code]
This is my cmake information:

[code]

Have you encountered this pr

[2020-11-29 10:58] weigao95 commented on #54
The registration code is tightly integrated with other parts, like image and geometry processing. I think it is not easy to separate that out. But you might convert your two point-clouds into two depth images and try to run the algorithm on it.

[2020-11-29 11:00] weigao95 commented on #55
I would recommend you try a simple program with `cudaMalloc` and `cudaSafeCall`, using exactly the cuda setup you mentioned to see if the environment is setup correctly.

[2020-12-01 02:39] wangmiaowei commented on #42
Have you solved this problem? I also meet it.

[2020-12-01 02:42] wangmiaowei commented on #41
Have you solved this error? I am also meeting it and really need help.

[2020-12-01 03:17] shugao1 commented on #42
The file reference path in the code file is incorrect. Use the &quot;locate file name&quot; to find the file path, such as 'locate point_cloud.hpp ', and finally change the code.------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;wangmiaowei&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年12月1日(星期二) 上午10:40
收件人:&nbsp;&quot;weigao95/surfelwarp&quot;<surfelwarp@noreply.github.com

[2020-12-01 12:38] Wangyouai commented on #55
My solution:I used ubuntu16.04 before, and its adapted GTX1070 GPU driver is 390, but cuda10.0 needs 410 or more, So I switched to ubuntu18.04, and it can run with its adapted GPU driver 450.

[2020-12-03 13:08] #55 closed

[2020-12-06 17:49] #54 closed

[2020-12-07 06:32] wangmiaowei commented on #7
@weigao95 @Algomorph When I run ./surfelwarp_app /test_data/boxing_config.json I get an error Segmentation fault (core dumped)
I do not know the reason.

[2020-12-08 14:03] Algomorph commented on #7
@weigao95 I'm not using this specific codebase right now. It may have bugs stemming from dependency upgrades or some specific setup on the system. It took me two weeks of coding just to get it working, but hopefully it will be much easier for you with my cilantro integration.

If you have very specific issues, e.g. determine which line of the code segfaults, try to figure out what part of the code

[2020-12-08 14:10] Algomorph commented on #7
On the bright side, I've figured out how to do integration testing with CUDA, but for now I'm still using BOYC for Appveyor to do this for the codebase I'm working on right now (because the build & testing are so slow and it times out).

If you really want to ensure your code keeps working for other people, I recommend investing some time in exploring continuous integration. That's the only real w

[2020-12-08 14:13] Algomorph commented on #7
Also, @wangmiaowei , you should open a separate issue if you're experiencing an unrelated build problem.

[2020-12-29 05:00] Cryst4L9527 opened #56 "incompatible for higher-level cuda & gpu"
when I try to run this code on nividia RTX3090 with cuda11.1,there is a new problem as below:
'shfl' without '.sync' is not supported on .target sm_70 and higher from PTX ISA version 6.4
It seems that the cuda code is not suitable for the novel gpu for some reason.Would you update your code to fit the new feature?I'll appreciate it very much!

[2021-01-08 06:56] Wangyouai commented on #29
I can also use this function`Visualizer::SavePointCloud`to save the point cloud，But can't use`saveCorrespondedCloud` It reported the following error on clion:

[code]

[2021-01-20 09:42] BaldrLector commented on #56
Hi, you need to change the CMakeLitsts.txt, refer to #23

[2021-01-21 02:42] BaldrLector commented on #29
@Wjiajie
Hi, can you ran Visualizer::SaveMatchedCloudPair successfully?
In my case, I can run Visualizer::SavePointCloud and the Visualizer::DrawPointCloud, but Visualizer::SaveMatchedCloudPair return malloc error.

[2021-01-31 13:58] Cryst4L9527 commented on #56
I've changed the CMakeLists.txt，it seems that the problem is the cuda10+ doesn't support the shfl without sync anymore.

[2021-01-31 14:31] raoli-mini opened #57 "The pretrained gpc model file is missing?"
First, thank you so much for your sharing. I try to compile and run the code on Windows.

Today I manage to build it successfully but when I start the program, it fails on creating the ***SurfelWarpSerial*** class instance. Then I notice that there's no file named ***sintel_small_speed*** in the targeted directory ***gpc_model_path***.

How can I fix this problem? Than you in advance!

[2021-02-01 02:23] raoli-mini commented on #57
After reading the provided note I realize that the model is provided by opencv_contrib. I download the gpc model and still can't make it work, this is how exactly I did:

1. download the gpc model "forest_sintel_small_SPEED.yml.gz" from [this website](https://drive.google.com/drive/folders/0B7Hb8cfuzrIIZDFscXVYd0NBNFU)
2. unzip the file and get the yml file "forest_sintel_small_SPEED.yml"
3. renam

[2021-02-01 03:01] raoli-mini commented on #57
Sorry for my careless... I notice that there a link to download the required gpc model file in the README. Now the gpc model is loaded as expected.

But why the previously downloaded gpc file can't be loaded still confuse me...

[2021-02-01 03:01] #57 closed

[2021-02-01 13:50] xiayeqingfeng opened #58 "About the jacobian. Why don't calculate the full derivative from cost function to each node's twist?"
Hi @weigao95, thank you so much for sharing this well-implemented algorithm.

When reading the codes in detail, the jacobian calculation process immediately catch my attention.

As for the data term(dense depth term) in your paper, I notice that you calculate the jacobian from ***scalar cost*** to the ***warpped vertex's SE(3)***, and then map this jacobian to the node's twist with a weight. I won

[2021-02-02 07:32] bianlongpeng opened #59 "how to run this demo with my own data?"
A very nice work !, but I don't down how to run this demo with my own data. When I click the link in the pic,
![image](https://user-images.githubusercontent.com/22487109/106566637-8740a980-656b-11eb-9885-923ae5ee03f1.png)it report 404 error. At the same time, I want to know how to convert my data into the format of VolumeDeform. Is there an example for reference?

[2021-02-04 03:45] weigao95 commented on #59
I guess just write a simple python script? There is nothing more than a little bit of file management.

[2021-02-04 03:53] weigao95 commented on #56
I remember that shfl will be deprecated. You need to change the device instrinsics. In the `common/device_instrinsics.h` file, you need to change `shfl.up.b32` into `shfl.sync.up.b32 ` according to this doc: https://docs.nvidia.com/cuda/parallel-thread-execution/index.html. You need to add `sync` for all data types.

[2021-02-04 03:55] weigao95 commented on #58
1. It is theoretically correct. I remembered that I've written a derivation in my FilterReg paper, and you might take a look.
2. Because the twist jacobian can be easily computed for all 3 components. There is no need to mess with scalar costs.

[2021-02-04 13:09] xiayeqingfeng opened #60 "About gaussian newton iteration."
Hi@weigao95,

I notice that there are two iteration methods in gaussian newton loop: ***solverIterationGlobalIterationStreamed*** and ***solverIterationLocalIterationStreamed***, it seems that you run the global iteration 3 times and the local iteration 3 times each. In the global iteration, the density and foreground term is disabled and in the local iteration the density term is enabled. I can't

[2021-02-04 13:12] xiayeqingfeng commented on #58
Thanks for your reply! I will read your FilterReg paper for the derivative process asap. For now I'll leave this issue open in case I have further questions about the jacobian :) This issue will be closed once I fully understand the related problem.~

[2021-02-05 11:42] Cryst4L9527 commented on #56
Thank you very much！In fact I change the arch to sm_61 when compile and it worked too，but maybe this operation will affect the speed.I'll try to change them.

At 2021-02-04 11:53:17, "Wei Gao" <notifications@github.com> wrote:

I remember that shfl will be deprecated. You need to change the device instrinsics. In the common/device_instrinsics.h file, you need to change shfl.up.b32 into shfl.sync.u

[2021-02-06 04:24] #56 closed

[2021-02-06 04:26] weigao95 commented on #60
1. The image density term has a very small convergence range
2. Yes, almost identical. Just whether the image density term is invoked or not.

[2021-02-06 04:26] #60 closed

[2021-02-06 04:27] #59 closed

[2021-02-06 04:27] #53 closed

[2021-02-07 07:33] xiayeqingfeng commented on #58
Hi @weigao95, For ***Question 1***, I've read your ***[FilterReg paper supplemental material](https://drive.google.com/file/d/1R_E-v3vh7aq3uwg_EOmZEtItMn649rVI/view)***. But I still can't understand how the computation of derivative from final cost to node's twist is avoided.

In ***section 3*** of your supplemental material, you clearly mention that we need to get the Jacobian from ***residual***

[2021-02-08 14:17] Cryst4L9527 opened #61 "A build error on windows10 about glfw"
I've built your code on win10 with vs2019 and glfw-3.3.2.
here is the error:

错误	LNK2019	无法解析的外部符号 __imp_strspn，函数 glfwUpdateGamepadMappings 中引用了该符号	surfelwarp_app	C:\Users\cscg\Desktop\surfelwarp\build\apps\surfelwarp_app\glfw3.lib(input.c.obj)	1

Does anyone know how to solve this？Maybe I should set some other libraries?

[2021-02-08 18:12] #61 closed

[2021-02-08 18:12] Cryst4L9527 commented on #61
sorry,I've solved it already,that's because I use the 32-bit lib by mistake.

[2021-02-08 19:25] weigao95 commented on #58
It is not avoided. You might talk a look at `geometry_icp_jacobian.cuh`, which is used to compute the twist jacobian. There is no approximation here and I don't get what your J2 means.

If you think you can avoid term2node or node2term indexing, you are very welcomed to code it and we can discuss based on that. We all know talk is cheap.

[2021-02-08 19:26] #58 closed

[2021-02-21 07:04] yhlong666 opened #62 "The pre-allocated buffer is not enough"
Hi,

When I run the program the error happened:

I try to incresea the max node number defined in the global_configs.h,
But another error happened when I tried to compile the program:

How to solve this?

Thanks a lot.

[2021-02-27 15:29] weigao95 commented on #62
Can you clarify which buffer is not large enough? You might need to set the `CUDA_DEBUG_SYNC_CHECK ` flag in `common/global_configs.h` to see where the exception is thrown.

[2021-03-03 14:57] #62 closed

[2021-03-10 06:58] bianlongpeng opened #63 "how to run this demo with a RGBD camera?"
A very nice work. Now I have successfully run this demo, but how to run the demo with a RGBDcamera and how can I configure it?

[2021-03-12 02:31] ZYJxxx commented on #16
I had the same problem, "The pre-allocated buffer is not enough", Have you solved it yet? How did you solve it?

[2021-03-25 01:19] ZYJxxx opened #64 "/surfelwarp/core/render/render.cpp:67: The GLFW window is not correctly created."
when i run "./surfelwarp_app /path/to/config", there is the error. I can normal run [https://www.glfw.org/docs/latest/quick.html](url),  my computer has 2 TiTan V GPU's , and -DCUDA_ARCH=70 was set when i cmake this project.
I have no idea about this now, looking forward for your reply.

[2021-03-25 18:55] yuehaowang opened #65 "Headless mode"
Dear authors,

Thanks for providing such an awesome project. I would like to run surfelwarp app on my server without GUI and display (just want to perform reconstruction and output results to files). However, the code will always run glfw and OpenGL, which leads to runtime errors on my server. I am wondering if there is any workaround to disable glfw and OpenGL, i.e., run the reconstruction progra

[2021-03-29 05:49] ZYJxxx commented on #3
hi,
have you solved this problem, and how did you do that? hope for your reply.

[2021-03-29 13:13] weigao95 commented on #65
OpenGL plays a very important role in reconstruction and it is almost impossible to remove it. See https://github.com/weigao95/surfelwarp/issues/16#issuecomment-554322225.

[2021-03-29 13:16] weigao95 commented on #64
Please try again with the same setup in https://github.com/weigao95/surfelwarp/blob/master/core/render/Renderer.cpp

There might be some flags not supported.

[2021-03-29 13:18] weigao95 commented on #63
That depends on your camera driver. Override the fetch interface built upon your camera driver and use it with the main pipeline.

[2021-03-30 01:13] ZYJxxx commented on #64
Thank you for your reply, i found i didn't use the external video card's opengl...

[2021-03-30 01:13] #64 closed

[2021-04-01 18:05] #65 closed

[2021-04-01 18:05] #63 closed

[2021-04-02 07:52] prl666 commented on #16
@weigao95 @AzureSilent I had the same problem, when I set the kMaxNumSurfelCandidates = 100000 ， it fails with "Nan in node candidate", Have you solved it yet? How did you solve it? My system if ubuntu 18.04 cuda10.0 GTX970.
plsease help me ,thanks！

[2021-04-03 04:04] mrsaleh opened #66 "Windows Prebuilt binary doesn't seem right"
Hello
The link to windows binary doesn't point to a valid executable binary for the Windows platform.
The file extension is not .exe and when I rename it to .exe, I can't run it.

[2021-04-06 09:10] mrsaleh commented on #32
Same here, Visual Studio 2019, Cuda 10.2, Eigen 3.4.

[2021-04-15 17:22] yuehaowang commented on #29
I used to fail in running `Visualizer::SaveMatchedCloudPair` as well. But after I switched to building with PCL, the problem was gone. Perhaps this problem stems from cilantro. BTW, I also found PCL works on my Ubuntu 18 with CUDA 11.2.

[2021-04-22 16:24] yuehaowang opened #67 "Confused about the flip_color parameter."
Hi, I am recently studying the code of surfelwarp. I try to save the colored point clouds but it seems the RGBs are saved in a reversed order, i.e., BGR.  I also noticed the `downloadColoredPointCloud` function is defined as

[code]

where the `flip_color` parameter will determine whether the color of point clouds will be flipped.

I am confused about why this parameter is needed and why the color

[2021-04-28 21:00] weigao95 commented on #67
If I remember correctly (which maybe not), this is because the color encoding in OpenCV is 'BGR' instead of 'RGB'.

[2021-04-28 21:01] weigao95 commented on #66
You need to run it in the command line (or maybe windows power shell?). Navigate to the path that contains the app and run './surfelwarp_app'.

[2021-04-29 01:11] 411066282 opened #68 "Any idea to make it realtime?"
A better display card or better algorithm, to make weigao95's contribution more splendid ?

[2021-04-30 00:18] vhvkhoa commented on #62
Hello Wei Gao, I followed your instruction to turn on the `CUDA_DEBUG_SYNC_CHECK` flag but I got this error while re-compiling:
[code]
Can I get some suggestions from you to work this out ?
Thank you a lot !

[2021-05-03 15:39] mrsaleh commented on #66
The issue is that this is not a windows executable file.

[2021-05-03 22:07] yuehaowang commented on #67
Thanks! Got it.

[2021-05-03 22:07] #67 closed

[2021-05-09 07:37] Cartucho commented on #18
@xiaotaw you should set the Eigen path to the one that is provided in this GitHub repo, you can find it in `surfelwarp/external/
eigen3.4`

[2021-05-09 08:22] Cartucho commented on #17
As explained [here](https://github.com/mp3guy/ICPCUDA/issues/30), this will happen in Ubuntu due to the low version of c++ during compiling. You can solve it by flagging the compiler to C++11 (`-std=c++11`):  https://github.com/weigao95/surfelwarp/blob/5e30876c97840f24ab736ea6e435619f79cc907d/CMakeLists.txt#L70

[2021-05-09 12:12] Eva23-coder opened #69 "The Boost Version"
I have Ubuntu16.04, CUDA 9.0, PCL 1.8 and c++11, and I am using the Eigen provided with the repo, I would like to ask which version of Boost is compatible?

[2021-05-11 05:57] xiaotaw commented on #18
Yeah, thank you. I have solved this problem by the way you said.

[2021-05-11 23:49] vhvkhoa opened #70 "What is the purpose of using GPC in Surfelwarp ?"
Hello,

I am kind of new in 3D reconstruction and your work is very impressive to me, the source code is very well organized.
I have successfully run the code on my own recorded videos and obtained very promising results.

Currently, I am trying to understand the correspondence pairs detector in Surfelwarp, how it (the set $P$ in your paper) is produced to find a way of improving your work on my d

[2021-05-22 08:56] vhvkhoa commented on #70
Hello,
After reading through the source code, my understanding is that you are using correspondence pairs to enforce the deformation graph, which is not in the original paper of SurfelWarp. However, I am not sure on the final energy function after updating this new term. Can you show me the new energy function ?

[2021-06-03 14:04] mihaibujanca opened #71 "Running multiple instances at the same time"
Hi @weigao95,

I am trying to reconstruct multiple objects at the same time by running multiple instances of surfelwarp.

I've encountered two problems so far. Simply creating another instace of surfelwarp will cause a failure upon trying to process a frame in the instance I first declared (e.g adding a ` SurfelWarpSerial fusion2` in main.cpp will cause this).
Perhaps this has to do with the cuda

[2021-07-08 04:13] hwy1992129 commented on #66
I can't run it in windows, either.
Add ".exe" and run it in PowerShell, it said, "The specified executable is not a valid application for this OS platform"... Without ".exe", it will pop up a window, "How do you want to open the file", which is looking for a default app to open it.
In windows system, open a linux shell to run it. It says, "./surfelwarp_app: error while loading shared libraries: li

[2021-08-23 04:28] jason718 opened #73 "Can you share your own implementation of dynamic fusion?"
Is this request possible? Thanks~

[2021-09-01 15:01] weigao95 commented on #71
Sorry that I am working on my thesis these days. I believe only one instance can be constructed simultaneously due to the `__share__` memory.

[2021-09-01 15:05] weigao95 commented on #68
One planned feature is thread-level parallelism, which is architected to support but not implemented yet...

[2021-09-01 15:05] #68 closed

[2021-09-01 15:06] weigao95 commented on #69
The one provided with PCL works well for me.

[2021-09-01 15:06] #69 closed

[2021-09-01 15:08] weigao95 commented on #70
Sorry that I am working on my thesis these days. The GPC is not described in the original paper, and our original implementation doesn't include this term. For the energy function, you may read the fusion4d paper.

[2021-09-01 15:08] #70 closed

[2021-09-01 15:09] #66 closed

[2021-09-01 15:11] weigao95 commented on #73
Sorry that I am working on my thesis these days. Our implementation of dynamic fusion is pretty dirty, thus not ready release. You might try it yourself by implementing TSDF fusion to replace the surfel fusion in `core/geometry`. This is not that hard and I am happy to provide suggestion.

[2021-09-01 15:11] #73 closed

[2021-09-01 15:52] 411066282 commented on #68
只是想实现您视频里那样的效果，用这个代码能成功吗？

[2021-09-01 16:09] vhvkhoa commented on #70
Thank you for your answer. Could you please give me a hint on where you define the energy function to be optimized in your codebase ?

[2021-09-02 07:13] 411066282 commented on #37
@xiaotaw dear,   could you share your whole modified code project to me? I just failed this, thank you very much!                      yaoyao-501@163.com

[2021-09-02 08:03] 411066282 commented on #50
@ByLee1997 Have you solved this? After seeing "#37 (comment)"

[2021-09-02 18:12] #71 closed

[2021-09-02 18:15] weigao95 commented on #70
`DenseDeepHandler.h`, `DensityForegroundHandler.h`, `NodeGraphSmoothHandler.h`, `SparseCorrespondenceHandler.h` in `core/warp_solver`

[2021-09-04 11:25] 411066282 commented on #63
@ bianlongpeng have you solved your problem?

[2021-09-04 11:33] 411066282 commented on #43
@xiaotaw how did you do this, with live camera? just modify the fetch image interface?

[2021-09-06 08:35] 411066282 commented on #63
@bianlongpeng  have you solved your problem?

[2021-09-14 14:22] xiaotaw commented on #37
Here is my modified code. Hope its commit log would help.  https://github.com/xiaotaw/surfelwarp

[2021-10-02 06:43] LiuXinqi12 commented on #64
@ZYJxxx  Hi! Have you solved this problme?

[2021-10-07 20:01] WangYixuan12 opened #74 "Pangolin installation version specification for cilantro_build.md"
Hi! Thanks for your great documentation! After following cilantro installation instructions, I found git clone from Pangolin does not work. The newest Pangolin cannot be included using Pangolin_INCLUDE_DIRS, as used in cilantro CMakeLists.txt. I found [Pangolin v6.0](https://github.com/stevenlovegrove/Pangolin/releases/tag/v0.6) can work perfectly. Maybe you could specify the version in the docume

[2021-10-07 22:37] WangYixuan12 commented on #74
Another suggestion: I think now modern cilantro is supported. You may change it in cilandro_build.md

[2021-10-09 23:02] WangYixuan12 opened #75 "Problem when running my examples"
Hi! I am new to CUDA. When I run my examples with the same image size and intrinsics, everything works well. However, when I used examples with different image sizes (1280*720 in this case), I encountered the following error.
[code]
Even I downsampled images, the error still exists. This time error appeared at a different location but the same `cudaSafeCall(cudaMemcpyAsync(...))` function. Do you

[2021-10-15 03:45] 411066282 commented on #37
@xiaotaw thank you very much! you are one  good and kind guy!!!

[2021-12-03 12:28] HerB1998 commented on #45
hello, I got the same problem,would you tell me how to fix it?

[2021-12-20 16:28] daalberti1 opened #76 "Error building on Ubuntu 18.04"
**Ubuntu**: 18.04
**nvcc**: 9.1
**gcc**: 6.1

Hi, I created a new virtual environment with conda (version 4.11) and I followed the [instructions](https://github.com/weigao95/surfelwarp/blob/master/doc/cilantro_build.md) to build surfelwarp on ubuntu 18:

- Firstly I tried to install **eigen** included in external/eigen3.4, so I created a buid folder and I did _**cmake**_, which completed the proce

[2022-01-11 08:38] dorioliu opened #77 "Build error on windows vs2015: libucrtd.lib(log2f.obj) : error LNK2005: log2f 已经在 core_libd.lib(core_lib_generated_SurfelWarpSerial.cu.obj) 中定义"
@weigao95 hello, I have built your project for 1 week under VS2015 + cuda9.2 + pcl1.8.1, I was almost successful, but this question stopped me:
`
1>------ 已启动生成: 项目: surfelwarp_app, 配置: Debug x64 ------
1>libucrtd.lib(log2f.obj) : error LNK2005: log2f 已经在 core_libd.lib(core_lib_generated_SurfelWarpSerial.cu.obj) 中定义
1>    正在创建库 D:/VS_Project/surfelwarp-master/build/apps/surfelwarp_app/Debug/surfel

[2022-01-13 02:09] dorioliu commented on #77
it seems that the libucrtd.lib is part of the Windows SDK, and core_libd.lib is a local built file of this project, the question is a variable or function log2f is redefined, they are just conflicted, but there is another question that I cannot find any log2f in your project, maybe a header is included for more than one times.

[2022-03-13 08:19] fly-dk opened #78 "Use kinect2.0 to get depthimages in Ubuntu 18.04"
Hello author, your code is amazing! However, how does your video demo effect work? Can I use kinect 2.0 to acquire depth images in real time for processing?

[2022-05-12 18:32] ray8828 opened #79 "confidence value from depth image"
Hi, thanks for sharing this great work! I'm a little bit confused, the confidence value of each surfel in current version are all set to 1.0? acoording to line8 in vertex_map.cu? Is my understanding correct? Thanks!

[2022-05-17 08:35] Chang-Che-Kuei commented on #58
Hi @xiayeqingfeng , have you solved your problems? May I ask you some questions via the email? Try not to mess this issue thread.

[2022-05-19 16:50] shaisung commented on #74
Note that as of August 2021, cilantro uses C++17 features:
https://github.com/kzampog/cilantro/commit/02bc24046a96a839b09afe6b95b1466a7a7aee1c

And hence requires CUDA11.

I just banged my head against that for a few days trying to compile with CUDA10.1...

[2022-06-14 06:11] shaisung commented on #65
There's a GLFW branch with headless EGL support:

https://github.com/glfw/glfw/pull/1608

A bit hacky but it did the trick for me.

There's also various methods of setting up a docker with VirtualGL, I haven't been able to set that up yet but it might work as well.
Examples:
https://github.com/ffeldhaus/docker-xpra-html5-gpu-minimal
https://github.com/dcommander/virtualgl_docker_examples

[2022-06-14 06:20] shaisung commented on #29
I've had similar experience (probably unrelated to original issue in this thread though). I think it has to do with custom memory aligned allocators used in Eigen (which is used by cilantro). Not 100% sure.

As far as I can tell, it was solved by using make_shared<T> instead of (new T) in data_transfer.cu, e.g.:

` PointCloud3f_Pointer point_cloud = std::make_shared<PointCloud3f>(); //(new PointCl

[2022-07-12 16:07] peiran88 opened #80 "The GLFW window is not correctly created, terminate called after throwing an instance of 'std::runtime_error*"
Keep having the error when using ./surfelwarp_app /path/to/config: The GLFW window is not correctly created, terminate called after throwing an instance of 'std::runtime_error* Aborted (core dumped)

I have installed glfw and glew correctly, when I run glxinfo | grep "OpenGL version", it shows OpenGL version is 3.1

I am really confused about this problem, can anyone help me solve the problem?

[2022-07-13 03:59] peiran88 commented on #24
@Wjiajie Have you solved this problem? I met the same question but do not know how to make cuda and OpenGL interoperability be normal.